.App {
  width: 80%;
  margin: 10% 10%
}

.username {
  text-align: center;
  font-size: 24px;
}

#btn-favorite-movies, #btn-submit {
  color: black;
  border-color: black;
  background-color: rgb(200, 200, 200);
  font-family: Tahoma, Geneva, sans-serif;
  text-transform: none;
  border-width: 1px;
}

#btn-favorite-movies {
  margin-left: 10px;
}

.movie-list {
  padding: 1rem 0;
}

#movie-item {
  margin: .5rem 0;
  padding: .5rem;
  background-color: rgb(132, 132, 132);
  color: white;
  text-align: center;
  border-radius: 12px;
}

#movie-item p {
  margin-block-start: 0.01rem;
  margin-block-end: 0.01rem;
}

.upload-movie {
  width: 30%
}

input {
  color: white;
  width: 100%;
  margin-bottom: .5rem;
  background-color: rgb(132, 132, 132);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
